<?php

if ( function_exists( 'add_action' ) ) {
	add_action( 'after_setup_theme', 'eig_module_{{module_slug}}_register' );
}

/**
 * Register the {{modulename}} module
 */
function eig_module_{{module_slug}}_register() {
	eig_register_module( array(
		'name'     => '{{moduleSlug}}',
		'label'    => __( '{{moduleName}}', 'endurance' ),
		'callback' => 'eig_module_{{module_slug}}_load',
		'isActive' => true,
	) );
}

/**
 * Load the {{modulename}} module
 */
function eig_module_{{module_slug}}_load() {
	require dirname( __FILE__ ) . '/{{module-slug}}.php';
}
