{
  "name": "bluehost/endurance-wp-module-{{moduleSlug}}",
  "description": "Endurance {{moduleName}} Module",
  "type": "library",
  "license": "GPL-2.0-or-later",
  "autoload": {
    "files": [
      "bootstrap.php"
    ]
  }
}
